.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

.plant {
    display: flex;
    align-items: center;
    background-color: rgb(172, 154, 236);
    width: 150px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;
    color: azure;
}
